/* scroll bar */
.work_scroll_full_100_100 > .scrollbar-track{
    background:rgb(52, 52, 52);
    opacity:0.2;
    mix-blend-mode: exclusion;
}
.work_scroll_full_100_100 > .scrollbar-track:hover{
    opacity:0.4;
}
.work_scroll_full_100_100 > .scrollbar-track > .scrollbar-thumb{
    border-radius:0;
    background:rgb(177, 177, 177);
}

/* Page */
.work_scroll_full_100_100{
    position: absolute;
    height:100vh;
    width:100%;

    overflow:hidden;
    bottom:0;
    background: rgb(247, 247, 247);
}
.work_scroll_full_100_100 .work_bk_100{
    position:relative;
    height:100%;
    width:100%;
    background:black;
    overflow: hidden;
}
.work_bk_100 > .bk{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
}
.work_bk_100 > .work_semi_circle{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.work_bk_100 > .work_semi_circle > .semi_circle > .size1{
    display:block;
}
.work_bk_100 > .work_semi_circle > .semi_circle > .size2{
    display:none;
}
/* infos */
.work_width_infos_page_80{
    position:relative;
    width:70%;
    left:15%;
}
.work_width_infos_page_80 > .work_page_title{
    position: relative;
    width:100%;
    margin:1em 0;

    font-size:7em;
    line-height:0.9em;
    font-weight:600;
}
.work_width_infos_page_80 > .work_main_infos_cont{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom:7em;
}
.work_width_infos_page_80 > .work_main_infos_cont > .left_cont{
    width:50%;
}
.work_width_infos_page_80 > .work_main_infos_cont > .left_cont > .infos_block {
    margin-bottom:1.8em;
    font-weight:300;
    font-size:1.2em;
}
.work_width_infos_page_80 > .work_main_infos_cont > .left_cont > .infos_block > .title{
    color:rgb(196, 196, 196);
    margin-bottom:0.2em;
}
.work_width_infos_page_80 > .work_main_infos_cont > .right_cont{
    margin-left:10%;
    width:50%;
    font-size:1.5em;
    font-weight:200;
}
.work_width_infos_page_80 > .work_main_infos_cont > .right_cont > .link{
    text-align: right;
    margin-top:3em;
    font-weight:400;
}
.work_width_infos_page_80 > .work_main_infos_cont > .right_cont > .link:nth-child(n+3){
    margin-top:0.3em;
}
.work_width_infos_page_80 > .work_main_infos_cont > .right_cont > .link > a:hover{
    opacity:0.6;
}
/* Conts */
.work_img_page_cont{
    position: relative;
    width:100%;
}
.work_img_page_cont > .cont{
    position:relative;
    display:flex;
    width:100%;
    margin-bottom:8em;
}
.work_img_page_cont > .cont > *{
    position: relative; 
}
.work_img_page_cont > .cont > .part_cont{
    display:flex;
    justify-content: flex-start;
}
.work_img_page_cont > .cont > .part_cont .number{
    font-size:0.9em;
    font-weight:600;
    margin-right:1em;
    margin-top:0.8em;
}
.work_img_page_cont > .cont > .part_cont .title{
    font-size:5em;
    font-weight:600;
}
.work_img_page_cont > .cont > .part_cont .description{
    font-size:1.3em;
    font-weight:200;
}
.work_img_page_cont > .cont .descr_cont{
    position: relative;
    margin-bottom:2em;
}
.work_img_page_cont > .cont .descr_cont > .title{
    font-weight:500;
    font-size:1.6em;
    margin-bottom:0.4em;
}
.work_img_page_cont > .cont .descr_cont > .description{
    font-weight:200;
    font-size:1.3em;
}
/* contact me */
.work_contact_me{
    position:relative;
    text-align: center;
    margin-top:3em;
    margin-bottom:8em;
    text-align: center;
}
.work_contact_me > div{
    margin-bottom:1em;
    font-size:1.4em;
    font-weight: 300;
}
.work_contact_me > #work_contact_me_button{
    position:relative;
    overflow: hidden;
    display: inline-block;

    font-weight:600;
    font-size:6em;
    margin:0;
    padding:0 0.3em;
    padding-top:0.1em;

    transition: all ease-in-out 250ms;
}
.work_contact_me > #work_contact_me_button > .bar{
    z-index: -1;
    position: absolute;
    bottom:0;
    width:0;
    height:100%;
    background:rgb(230, 230, 230);
}
/* bottom page */
.work_bottom_page{
    position:relative;
    text-align:center;
    margin-top:3em;
    padding-top:16em;
    padding-bottom:18em;
    text-align: center;
    background:black;
}
.work_bottom_page > div{
    mix-blend-mode: exclusion;
    color:white;
}
.work_bottom_page > .pre-next-proj{
    margin-bottom:1em;
    font-size:1.4em;
    font-weight: 300;
}
.work_bottom_page > #next_project_trigger{
    position:relative;
    display: inline-block;
    max-width: 80%;
    line-height:0.9em;

    font-weight:600;
    font-size:6em;
    margin:0;
    transition: all ease-in-out 250ms;
}
.work_bottom_page > #next_project_trigger:hover{
    transform: scale(1.05);
}
.work_bottom_page > #next_project_trigger > .arrow_next{
    position: absolute;
    font-size:0.6em;
    top:120%;
    transform:translateX(-50%);
    opacity:0;

    pointer-events: none;
}
.work_bottom_page > .txt_btm_right_GQO92{
    position:absolute;
    color:rgb(212, 212, 212);

    display:flex;

    bottom:2em;
    right:5em;
    font-weight:200;
}
.work_bottom_page > .txt_btm_right_GQO92 > div{
    padding:0.7em 0.5em;
}

@media only screen and (max-width: 1100px)  {
    .work_bk_100 > .bk{
        width:70%;
    }
    .work_width_infos_page_80 > .work_main_infos_cont > .right_cont{
        font-size:1.2em;
    }
}
@media only screen and (max-width: 750px)  {
    .work_width_infos_page_80 > .work_page_title{
        font-size:6em;
    }
    .work_width_infos_page_80 > .work_main_infos_cont{
        flex-wrap: wrap;
    }
    .work_width_infos_page_80 > .work_main_infos_cont > .right_cont{
        width:100%;
        margin:0;
        order:0;
        margin-bottom:6em;
    }
    .work_width_infos_page_80 > .work_main_infos_cont > .left_cont{
        order:1;
        width:100%;

        display: flex;
        flex-wrap: wrap;
    }
    .work_width_infos_page_80 > .work_main_infos_cont > .left_cont > .infos_block {
        margin:1em;
    }
    .work_img_page_cont, .work_contact_me, .work_bottom_page{
        font-size: 0.6em;
    }
    .work_img_page_cont{
        width:90%;
        left:5%;
    }
    .work_bk_100 > .work_semi_circle > .semi_circle > .size1{
        display:none;
    }
    .work_bk_100 > .work_semi_circle > .semi_circle > .size2{
        display:block;
    }
    .work_bottom_page{
        padding-top:19em;
        padding-bottom:22em;
    }
    .work_bottom_page > .txt_btm_right_GQO92{
        font-size:1.2em;
    }
}