.parent_page_cont_about{
	position:relative;
	height:100%;
	width:100%;
	background:white;
}
.about-cont {
	position: relative;
	width:100%;

	top:55%;
	transform:translateY(-50%);
}
.about-cont > .sub-cont-about{
	position: relative;
	width:60%;
	left:20%;
	padding-bottom:4em;
	/*tilt*/
	transform-style: preserve-3d;
	transform: perspective(1000px);
}
.about-cont > .sub-cont-about > *{
	width:100%;
}
.about-cont > .sub-cont-about > .age{
	position:relative;
	font-size:3em;
	font-weight: bold;
}
.about-cont > .sub-cont-about > .name{
	position:relative;
	margin-top:0.7em;
	font-size:4.5em;
	font-weight: bold;
	
	transform: translateZ(50px);
}
.about-cont > .sub-cont-about > .pre-text{
	position:relative;
	margin-top:4em;
	font-size:1em;
	font-weight: 500;
	color:#aaaaaa;
}
.about-cont > .sub-cont-about > .pre-text > .text{
	position:absolute;
	top:0;
	color:black;
	width:100%;
}
.about-cont > .sub-cont-about > .reseaux{
	margin-top:4em;
}
.about-cont > .sub-cont-about > .reseaux >.icons-cont{
	margin-top:2em;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.about-cont > .sub-cont-about > .reseaux >.icons-cont > a {
	text-decoration: none;
	font-weight:600;
}
/*955 width*/
@media screen and (max-width: 955px){
	.about-cont {font-size:0.9em;}
}
@media screen and (max-width: 860px){
	.about-cont {font-size:0.9em;}
	.about-cont > .sub-cont-about{width:70%; left:15%;}
}
@media screen and (max-width: 740px){
	.about-cont {font-size:0.8em;}
	.about-cont > .sub-cont-about > .age{font-size:2em;}
	.about-cont > .sub-cont-about > .name{font-size:4em;}
}
@media screen and (max-width: 590px){
	.about-cont > .sub-cont-about{width:80%; left:12%;padding-bottom: 5em;}
}
@media screen and (max-width: 360px){
	.about-cont {font-size:0.7em; top:50%;}
	.about-cont > .sub-cont-about > .age{font-size:2em;}
	.about-cont > .sub-cont-about > .name{font-size:3.5em;}
}