*{
    margin:0;
    padding:0;
    cursor:none;
    color:inherit;

    font-family:TTCommons;
    font-weight:200;
    font-weight:inherit;
}
a{
    text-decoration: none;
    color:inherit;
}
html,body{
    background:white;
    overscroll-behavior-y: contain;
}
#cursor {
    position: fixed;
    text-align: center;
    width: 10px;
    height: 10px;
    z-index: 9999;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    pointer-events: none;
    mix-blend-mode: exclusion;

    top:-100px;
    left:-100px;

    transition: height linear 250ms, width linear 250ms;
    transform:translate(-50%,-50%);
}
#cursor > *{
    position: absolute;

    border-radius:50%;
    height:100%;
    width:100%;
    background:white;

    transition: opacity linear 500ms;
    opacity:1;
}
#cursor > .loading{
    opacity:0;
    background:none;

    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;

    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border: 4px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;

}
#cursor > .hover{
    display:flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-size:0.9em;
}
#cursor.hover{
    width: 35px;
    height: 35px;
}
#cursor > .hover > .text{display:none;  text-transform: uppercase;}
#cursor.hover-text > .hover > .text{display:block;}
#cursor.hover-text{
    width: 75px;
    height: 75px;
}
/* loading */
@keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
#cursor.loading > *{
    opacity:0;
}
#cursor.loading > .loading{
    opacity:1;
}
/* Fonts */
@font-face {
    font-family: 'TTCommons';
    src:  url('/assets/fonts/TTCommons-Light.ttf') format('truetype');
    font-style:normal;
    font-weight:200;
}
@font-face {
    font-family: 'TTCommons';
    src:  url('/assets/fonts/TTCommons-Regular.ttf') format('truetype');
    font-style:normal;
    font-weight:300;
}
@font-face {
    font-family: 'TTCommons';
    src:  url('/assets/fonts/TTCommons-Medium.ttf') format('truetype');
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family: 'TTCommons';
    src:  url('/assets/fonts/TTCommons-DemiBold.ttf') format('truetype');
    font-style:normal;
    font-weight:600;
}
@font-face {
    font-family: 'TTCommons';
    src:  url('/assets/fonts/TTCommons-Bold.ttf') format('truetype');
    font-style:normal;
    font-weight:bold;
}
/* HoverAttract */
.attract-hover-easing {
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@supports (-ms-ime-align: auto) {
    *{
        cursor:auto;
    }
    .hover-target{
        cursor:pointer;
    }
    #cursor{
        display:none;
    }
    #cursor.loading{
        display:block;
    }
    #cursor.loading > *{
        background:black;
    }
}