/* scroll bar */
.full_contact_100_100 > .scrollbar-track{
  background:rgb(52, 52, 52);
  opacity:0.2;
  mix-blend-mode: exclusion;
}
.full_contact_100_100 > .scrollbar-track:hover{
  opacity:0.4;
}
.full_contact_100_100 > .scrollbar-track > .scrollbar-thumb{
  border-radius:0;
  background:rgb(177, 177, 177);
}

.full_contact_100_100{
  position: relative;
  width:100%;
  background:white;
  height:100%;
  overflow:hidden;
}
.full_contact_100_100 .flex{
  position: relative;
  display:flex;
  width:80%;
  max-width: 1400px;
  left:50%;
  transform: translateX(-50%);
  padding-top:10em;
}
.full_contact_100_100 .flex > .left_cont{
  position: relative;
  width:50%;
}
.full_contact_100_100 .flex > .left_cont > .img{
  position: absolute;
  top:5em;
  width:90%;
}
.full_contact_100_100 .flex > .right_cont{
  width:50%;
}
.full_contact_100_100 .flex > .right_cont > .subtitle{
  font-size:1.3em;
  font-weight:200;
  line-height:1.5em;
  margin-bottom:5em;
  width:14em;
}
.full_contact_100_100 .flex > .right_cont > .title > div{
  position: relative;
  font-size:6em;
  font-weight:bold;
  line-height: 0.9em;
}
.full_contact_100_100 .flex > .right_cont > .title > div:nth-child(1){
  left:-0.7em;
}
.full_contact_100_100 .flex > .right_cont > .form{
  margin-top:5em;
}
.full_contact_100_100 .flex > .right_cont > .form > .send{
  position: relative;
  margin-left: 90%;
  transform:translateX(-100%);
  margin-top:2em;
  font-size:1.5em;
  font-weight:bold;
}
.full_contact_100_100 .flex > .right_cont > .form > .input_cont{
  position: relative;
  margin-bottom: 2em;
  padding-top:15px;
  width: 100%;
}
.full_contact_100_100 .flex > .right_cont > .form > .input_cont > .placeholder{
  position: absolute;
  font-size: 1.5em;
  font-weight:200;
  color:black;
  top:25px;
  z-index: 1;

  pointer-events: none;
  transition:all ease-in 200ms;
}
.full_contact_100_100 .flex > .right_cont > .form > .input_cont.active > .placeholder{
  position: absolute;
  font-size: 0.9em;
  color:rgb(151, 151, 151);
  top:0px;
  z-index: 1;
}
.full_contact_100_100 .flex > .right_cont > .form > .input_cont > .input{
  position: relative;
  width:100%;
  z-index: 0;
  border:none;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding-top:5px;
  padding-bottom:0.3em;

  font-size: 1.5em;
  color:black;
  font-weight:200;
}
.full_contact_100_100 .flex > .right_cont > .form > .input_cont > .input:focus {
  outline: none !important;
}
.full_contact_100_100 .flex > .right_cont > .form > .input_cont > .bar{
  position: absolute;
  bottom:0;
  left:0;
  width: 0;
  background:black;
  height:1px;
  transition:all ease-out 250ms;
}
.full_contact_100_100 .flex > .right_cont > .form > .input_cont.active > .bar{
  width: 100%;
}
#txtarea_la5{
  resize : none;
}
.full_contact_100_100 .add_infos{
  position: relative;
  margin-top:10em;
  width:70%;
  left:15%;
}
.full_contact_100_100 .add_infos .sub{
  font-size:1em;
  font-weight: 300;
  color:rgb(160, 160, 160);
  margin-bottom:1em;
}
.full_contact_100_100 .add_infos .text{
  font-size:1.5em;
  font-weight: 300;
  color:black;
}
.full_contact_100_100 .add_infos > .flex{
  position: relative;
  display:flex;
  width:100%;
  padding:0;
  left:0;
  transform:scale(1);
}
.full_contact_100_100 .add_infos > .flex > div{
  padding-right:1em;
}

/* bottom */
.contact_bottom_page{
  position: relative;
  width: 100%;
  height:20em;
}
.contact_bottom_page > .txt_btm_right_GQO92{
  position:absolute;
  color:rgb(87, 87, 87);

  display:flex;

  bottom:2em;
  right:5em;
  font-weight:200;
}
.contact_bottom_page > .txt_btm_right_GQO92 > div{
  padding:0.7em 0.5em;
}
@media only screen and (max-width: 1450px)  {
  .full_contact_100_100 .flex{
    left:47%;
  }
}
@media only screen and (max-width: 750px)  {
    .full_contact_100_100 .flex{
        flex-direction:column;
        align-items:center;
        left:52%;
    }
    .full_contact_100_100 .flex > .left_cont{
        width: 30em;
    }
    .full_contact_100_100 .flex > .left_cont > .img{
        position:relative;
        top:0;
        width:100%;
    }
    .full_contact_100_100 .flex > .right_cont{
        width:100%;
        margin-top:3em;
    }
    .full_contact_100_100 .flex > .right_cont > .subtitle{
        width:100%;
    }
    .full_contact_100_100 .flex > .right_cont > .title{
        font-size: 0.4em;
        position: relative;
        width: 30em;
        left: 50%;
        transform: translateX(-50%);   
    }
    .full_contact_100_100 .flex > .right_cont > .form{
        font-size:0.7em;
    }
    .full_contact_100_100 .flex > .right_cont > .form > .send{
        margin-left:80%;
    }
    .full_contact_100_100 .add_infos{
        font-size:0.7em;
        margin-top:7em;
    }
    .contact_bottom_page{
        font-size:0.8em;
        padding-bottom:0em;
        height:10em;
    }
    .contact_bottom_page > .txt_btm_right_GQO92{
        font-size:0.9em;
        right:3em;
    }
    .full_contact_100_100 .add_infos > .flex{
        align-items:flex-start;
    }
}