  .first_visit_full{
    position: fixed;
    top: 0;
    height: 0%;
    width: 100%;
    z-index: 997;
    overflow:hidden;
}
.first_visit_cont{
    position:absolute;
    background: black;
    height:0%;
    width:100%;
    top:0;
}
.first_visit_cont > .countdown_cont {
    font-size: 5em;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first_visit_cont > .countdown_cont > .countdown_background {
    color: rgb(138, 138, 138);
    position: relative;
    bottom:0;
}
.first_visit_cont > .countdown_cont > .ct_loader_cont {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.5em;
  overflow-y: hidden;
}
.first_visit_cont > .countdown_cont > .ct_loader_cont > .countdown {
    color: white;
    position: absolute;
    bottom:0;
}
.first_visit_cont > .bottom_infos{
    position:absolute;
    text-align:right;
    bottom:2em;
    right:2em;
    color:white;
}
.first_visit_cont > .bottom_infos > div{
    font-weight:600;
}
.first_visit_cont > .bottom_infos > div > span{
    font-weight:300;
}

@media screen and (max-width: 500px){
    .first_visit_cont > .countdown_cont {
        font-size:3em;
    }
    .first_visit_cont > .bottom_infos {
        font-size:0.85em;
    }
}