.index_welcome_full_parent{
    position:relative;
    height:100%;
    width:100%;
    background: white;
}
#index_bk_letter_apk1_910, #index_bk_letter_apk2_910{
    position:absolute;
    z-index: 0;
    height:100%;
    width:100%;
    top:0;
    opacity:0;
}
.index_center_text{
    display:none;
    position: absolute;
    top:48%;
    left:50%;
    transform:translate(-50%,-50%);
    width:48em;
}
.ml13_gei_index{
    font-size:6em;
    font-weight:600;

    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
.ml13_gei_index .text-wrapper{
    position: relative;
    overflow: hidden;
    padding: 0 0.5em;
}
.ml13_gei_index .text-wrapper > * {
    display: inline-block;
    position: relative;
}
.ml13_gei_index .letter {
    display: inline-block;
    line-height: 1em;
}
.fleche_bas_cont_welcome{
    display:none;
}

/* Letters Background */
.LIW_MD_WELCOME{
    position:absolute;
    font-size:4em;
    font-weight:600;
    color:rgb(235, 235, 235);
}
#letter_K_LIW_MD{
    top:15vh;
    left:12vw;
}
#letter_K_LIW_MD > .l{
    position:absolute;
    background:red;

    top:0.149em;
    left:0.065em;
    height:0.63em;    
    width:0.12em;
}
#letter_R_LIW_MD{
    bottom:18vh;
    left:20vw;
}
#letter_R_LIW_MD > .l{
    position:absolute;
    background:rgb(255, 230, 0);

    top:0.149em;
    left:0.065em;
    height:0.63em;    
    width:0.12em;
}
#letter_D_LIW_MD{
    top:9vh;
    left:55vw;
}
#letter_D_LIW_MD > .l{
    position:absolute;
    background:rgb(0, 183, 255);

    top:0.149em;
    left:0.065em;
    height:0.63em;    
    width:0.12em;
}
#letter_L_LIW_MD{
    top:50vh;
    right:12vw;
}
#letter_L_LIW_MD > .l{
    position:absolute;
    background:rgb(212, 0, 255);

    top:0.149em;
    left:0.065em;
    height:0.63em;    
    width:0.12em;
}
#letter_F_LIW_MD{
    bottom:20vh;
    left:50vw;
}
#letter_F_LIW_MD > .l{
    position:absolute;
    background:rgb(0, 0, 0);

    top:0.149em;
    left:0.065em;
    height:0.63em;    
    width:0.12em;
}
#letter_A_LIW_MD{
    top:48vh;
    left:5vw;
}
#letter_T_LIW_MD{
    bottom:25vh;
    right:10vw;
}
#letter_J_LIW_MD{
    top:20vh;
    left:33vw;
}
#letter_S_LIW_MD{
    top:20vh;
    right:10vw;
}
#letter_O_LIW_MD{
    bottom:10vh;
    right:13vw;
}
#letter_K_LIW_MD{
    top:15vh;
    left:12vw;
}
#letter_K_LIW_MD > .l{
    position:absolute;
    background:red;

    top:0.149em;
    left:0.065em;
    height:0.63em;    
    width:0.12em;
}
#letter_T_LIW_MD > .l{
    position:absolute;
    background:rgb(25, 214, 0);

    top:0.145em;
    left:0.02em;
    height:0.116em;    
    width:0.48em;
}
#letter_E_LIW_MD{
    bottom:10vh;
    right:30vw;
}
#letter_E_LIW_MD > .l:nth-child(1){
    position:absolute;
    background:rgb(255, 94, 0);

    top:0.145em;
    left:0.063em;
    height:0.116em;    
    width:0.44em;
}
#letter_E_LIW_MD > .l:nth-child(2){
    position:absolute;
    background:rgb(255, 94, 0);

    top:0.395em;
    right:0.07em;
    height:0.116em;    
    width:0.41em;
}
#letter_E_LIW_MD > .l:nth-child(3){
    position:absolute;
    background:rgb(255, 94, 0);

    top:0.66em;
    left:0.063em;
    height:0.116em;    
    width:0.45em;
}
#letter_H_LIW_MD{
    bottom:20vh;
    left:13vw;
}
#letter_H_LIW_MD > .l{
    position:absolute;
    background:rgb(0, 146, 214);

    top:0.4em;
    left:0.064em;
    height:0.117em;    
    width:0.5em;
}
#letter_F2_LIW_MD{
    top:30vh;
    right:8vw;
}
#letter_F2_LIW_MD > .l:nth-child(1){
    position:absolute;
    background:rgb(255, 0, 106);

    top:0.149em;
    left:0.065em;
    height:0.114em;    
    width:0.42em;
}
#letter_F2_LIW_MD > .l:nth-child(2){
    position:absolute;
    background:rgb(255, 0, 106);

    top:0.42em;
    left:0.065em;
    height:0.114em;    
    width:0.36em;
}
#letter_G_LIW_MD{
    top:10vh;
    left:20vw;
}
#letter_N_LIW_MD{
    top:40vh;
    left:10vw;
}
#letter_C_LIW_MD{
    left:40vw;
    bottom:16vh;
}
#letter_V_LIW_MD{
    top:15vh;
    right:40vw;
}

/*Responsive*/
@media only screen and (max-width: 600px)  {
     .ml13_gei_index{
        font-size:5em;
    }   
    .fleche_bas_cont_welcome{
        display:block;
        position:absolute;
        bottom:2.4em;
        right:1em;
        width:2em;
    }
    .fleche_bas_welcome{
        position:relative;
    }
    .fleche_bas_welcome > img{
        width:100%;
    }
}
@media only screen and (max-width: 500px)  {
     .ml13_gei_index{
        font-size:4em;
    }   
    .LIW_MD_WELCOME{
        font-size:3em;
    }
}
@media only screen and (max-width: 410px)  {
     .ml13_gei_index{
        font-size:3em;
    }   
    .LIW_MD_WELCOME{
        font-size:2em;
    }
}