.index_rel_100_100{
    position:relative;
    width:100%;
    height:100%;
    overflow: hidden;
}
#index_infos_GOPK912{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}