.index_swiper_elems_cont{
    position:relative;
    height:100%;
    width:100%;
    background: white;
}
.index_swiper_semi_circle{
    position:absolute;
    top:50%;
    left:calc(16vw + 136px);
    transform:translate(-50%,-50%);
}
.index_swiper_elems_cont > .index_swiper_cont{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    height:23em;
    width:100%;
}
.index_swiper_div{
    position:absolute;
    height:100%;
    padding-right: 8vw;
    padding-left: 16vw;
    display:none;
    align-items:flex-end;
}
.index_swiper_div > ._left_block > .elements, .index_swiper_div > ._left_block{
    position:relative;
    width:272px;
    height:100%;
    overflow:hidden;
    z-index: 1;
}
.index_swiper_div > ._left_block > .elements{position:absolute; height:23em;}
.index_swiper_div > ._left_block > .elements > .bk{
    position: absolute;
    height:23em;
    width: 100%;
    background-size:cover;
    background:rgb(0, 0, 0);
}
.index_swiper_div > ._left_block > .elements >.index_swiper_semi_circle{
    left:50%;
    transform:translate(-50%,-50%);
}
.index_swiper_div > ._left_block > .elements > .img{
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.index_swiper_div > ._left_block > .elements > .sub_text{
    color:white;
    left:calc(100% - 33px);
}
.index_title_swiper{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width:7em;
    left:-33px;

    color:black;
    font-size:3.6em;
    font-weight:600;
    font-family:TTCommons;
    line-height:0.9em;
}
.index_swiper_div > ._right_block{
    position:relative;
    width:auto;
    height:100%;
    width:calc(50vw - 33px);
    max-width: 800px;
}
.index_swiper_div > ._right_block > .subtitle{
    position: absolute;
    top:26%;
    right:20%;
    font-weight:300;
    opacity:0;
}
.index_swiper_div > ._right_block > .subtitle > .bar{
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 1px;
    background: #000;
    margin-right: 10px;
    margin-left: 10px;
}
/* index_page_indicator_swiper */
.index_page_indicator_swiper{
    position:absolute;
    right:2em;
    top:50%;
    transform:translateY(-50%);

    display:flex;
    flex-direction: column;
    align-items: center;
}
.index_page_indicator_swiper > .cur_page{
    font-weight:400;
    font-size:0.85em;
}
.index_page_indicator_swiper > .bar{
    position: relative;;

    height:9em;
    width:1px;
    background-color:rgb(163, 163, 163);
    margin:25px 0;
    overflow: hidden;
}
.index_page_indicator_swiper > .bar > .bar-indicator{
    position:absolute;
    width:100%;
    background:black;

    transition:height ease-out 1500ms;
}
.index_page_indicator_swiper > .total_page{
    font-weight:400;
    font-size:0.85em;

}
/*4corners*/
.four_corners_page_indicator_cont{
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
}
.four_corners_page_indicator_cont > .corner{
    transition:all ease-out 2s;
    position: absolute;
    background: black;
}
.four_corners_page_indicator_cont > .bottom_corner{
    width: 0%;
    height: 5px;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
}
.four_corners_page_indicator_cont > .right_corner{
    width: 5px;
    height: 0%;
    bottom: 0;
    right:0;
}
.four_corners_page_indicator_cont > .top_corner_left{
    width: 0%;
    height: 5px;
    top: 0;
    left:0;
}
.four_corners_page_indicator_cont > .top_corner_right{
    width: 0%;
    height: 5px;
    top: 0;
    right:0;
}
.four_corners_page_indicator_cont > .left_corner{
    width: 5px;
    height: 0;
    bottom: 0;
    left:0;
}

/* Swipers anims */
.index_swiper_semi_circle > svg{
    transform:rotate(-90deg) translateY(-50%);
    transition:transform ease-out 2200ms;
    display:none;
}

/* Responsive */
@media only screen and (min-width: 1100px)  {
    .index_title_swiper{font-size:5em;}
    .index_swiper_elems_cont > .index_swiper_cont{height:485px;}
    .index_swiper_div > ._left_block > .elements, .index_swiper_div > ._left_block{
        width:356px;
        height:485px;
    }
    .index_swiper_div > ._left_block > .elements{height:485px;}
    .index_swiper_div > ._left_block > .elements >.bk{height:485px;}
    .index_swiper_div > ._right_block > .subtitle{font-size:1.3em;}
    .index_swiper_semi_circle{ left:calc(16vw + 168px);}
    .index_swiper_semi_circle > .size2{ display:block;}
    .index_page_indicator_swiper{right:3em;}
}
@media only screen and (max-width: 1100px)  {
    .index_swiper_semi_circle > .size1{display:block;}
}

@media only screen and (max-width: 900px)  {
    .index_page_indicator_swiper{
        display:none;
    }
}
@media only screen and (max-width: 800px)  {
    .index_swiper_semi_circle{
        left:50%;
    }
    .index_swiper_elems_cont > .index_swiper_cont{
        top: calc(43%);
    }
    #index_main_circle_OFAKP19{
        top:43%;
    }
    .index_swiper_div{
        flex-direction:column;
        left: 50%;
        transform: translateX(-50%);
        padding-left:0;
        padding-right:0;
    }
    .index_swiper_div > ._right_block {
        position: absolute;
        width: 272px;
        top: 105%;
        left:auto;
        height:auto;
    }
    .index_swiper_div > ._left_block > .elements > .sub_text{
        bottom:-105%;
        top:auto;
        left:auto;
    }
    .index_title_swiper{
        position:relative;
        width:100%;
        top:0;
        right: calc(100% + 00px);
        left:auto;
        transform: translateX(100%);
        text-align:right;
        font-size:3em;
    }
    .index_swiper_div > ._right_block > .subtitle{
        position:relative;
        top:0 !important;
        right:0;
        text-align:right;
        font-size:0.8em;
        float:right;
        width:80%;
        margin-top:0.5em;
    }
    .index_page_indicator_swiper{
        display:none;
    }
}
