.fixed_100_100_infos{
    position: absolute;
    height:100%;
    width:100%;
    background:black;
}
.fixed_100_100_infos > .txt_abs_50_50_afopk{
    position: absolute;
    color:white;

    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;

    font-size:7em;
    width:5em;
    font-weight: bold;
}
.fixed_100_100_infos > .txt_btm_right_GQO92{
    position:absolute;
    color:rgb(212, 212, 212);

    display:flex;

    bottom:2em;
    right:5em;
    font-weight:200;
}
.fixed_100_100_infos > .txt_btm_right_GQO92 > div{
    padding:0.7em 0.5em;
}
@media screen and (max-width: 500px) {
    .fixed_100_100_infos > .txt_abs_50_50_afopk{
        font-size:3em;
    }
    .fixed_100_100_infos > .txt_btm_right_GQO92{
        font-size:0.8em;
        right:1em;
    }
}