.menu_home_trigger_cont{
    position:fixed;
    display:inline-block;
    z-index:999;

    color:white;
    mix-blend-mode: exclusion;
    
    top:0;
    left:0;
    height:10em;
    width:8vw;
}
.attractHover_targetGODSP8, .attractHover_targetJOQG19, .attractHover_targetAKOP8{
    position:relative;
    height:100%;
    width:100%;
}
.menu_home_trigger_button_parent{
    position:absolute;
    top:60%;
    left:50%;

    font-weight:800;
    font-size:1.7em;
    transform:translate(-50%,-50%);
}
.menu_home_trigger_button{
    transform:rotate(-90deg);
}
.menu_contact_trigger_cont{
    position:fixed;
    color:white;

    mix-blend-mode: exclusion;
    height:10em;
    width:8vw;
    
    left:0;
    bottom:0;   
    z-index:999;
}
.menu_contact_trigger_button_parent{
    position:absolute;
    top:50%;
    left:50%;
    width:4em;

    font-weight:600;
    font-size:1.1em;
    transform:translate(-50%,-50%);
}
.menu_contact_trigger_button{
    transform:rotate(-90deg);
    text-align: center;
}
/* Menu Button */
.toggle_menu_trigger_cont{
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    mix-blend-mode: exclusion;

    height:10em;
    width:calc(8vw + 4em);
}
#toggle_menu_button{
    position:absolute;
    top:3em;
    right:4em;
    width:1.6em;
    height:0.7em;
    padding:0.7em;
}
#toggle_menu_button .parent {
    position: relative;
    width:100%;
    height:100%;
}
#toggle_menu_button > .parent > div{
    position: absolute;
    left:0;
    height:3px;
    background:white;

    transition: all linear 250ms;
}
#toggle_menu_button > .parent > div:nth-child(1){
    width: 100%;
    top:0;
}
#toggle_menu_button > .parent > div:nth-child(2){
    width: 70%;
    top:calc(0.7em - 3px);
}
#toggle_menu_button.close > .parent > div{
    width:100%;
    top:0;
}
#toggle_menu_button.close > .parent > div:nth-child(1){
    transform:rotate(45deg);
}
#toggle_menu_button.close > .parent > div:nth-child(2){
    transform:rotate(-45deg);
}
/* Full menu */
#menu_full_100_100{
    position: fixed;
    width:100%;
    height:0;
    top:0;

    overflow:hidden;
    background:black;
    color:white;
    z-index: 998;
}
#menu_full_100_100 > .flex_cont{
    position: absolute;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    height:100%;
    width:80%;
    left:10%;
    top:0;
}
#menu_full_100_100 .left_cont{
    position:relative;
    margin-right:10em;
}
#menu_full_100_100 .page_cont{
    position: relative;
    display:flex;
    align-items: center;

    margin:4em 0;
}
#menu_full_100_100 .page_cont > .page_number_cont{
    position:relative;
    margin-top:-1em;
    overflow:hidden;
    height:1em;
    width:2em;
}
#menu_full_100_100 .page_cont > .page_number_cont > .number{
    position: absolute;
    top:100%;
    transition: top ease-out 250ms;
}
#menu_full_100_100 .page_cont:hover .page_number_cont >.number{
    top:0;
}   
#menu_full_100_100 .page_cont > .page_name{
    font-size:4.5em;
    line-height:0.9em;
}
#menu_full_100_100 .right_cont{
    position: relative;
}
#menu_full_100_100 .right_cont > .link_name{
    margin:1.5em 0;
    font-size:1.3em;
    font-weight:200;
}

@supports (-ms-ime-align: auto) {
    .menu_home_trigger_cont, .menu_contact_trigger_cont, .toggle_menu_trigger_cont{
        color:black;
    }
    #toggle_menu_button > .parent > div{
        background:black;
    }
    #menu_full_100_100 > .flex_cont{
        justify-content: space-around;
    }
    #toggle_menu_button.close > .parent > div{
        background:white;
    }
}

/* Responsive */
@media only screen and (max-width: 1100px)  {
    .menu_home_trigger_cont{
        width:5em;
    }
    .menu_contact_trigger_cont{
        width:5em;
    }
    .menu_home_trigger_button_parent{
        top:50%;
    }
    .menu_contact_trigger_button_parent{
        top:55%;
        left:45%;
    }
}
/*Mobile*/
@media only screen and (max-width: 830px)  {
    #menu_full_100_100 > .flex_cont {
        font-size:0.8em;
    }
    #menu_full_100_100 .left_cont{
        font-size:0.7em;
    }
}
@media only screen and (max-width: 600px)  {
    .menu_home_trigger_cont{
        font-size:0.75em;
    }
    .menu_contact_trigger_cont{
        font-size:0.75em;
    }
    .toggle_menu_trigger_cont{
        width: calc(8vw + 1em);
        font-size:0.9em;
    }
    #toggle_menu_button{
        right:1em;
        top:2.5em;
    }
    #menu_full_100_100 > .flex_cont {
        height: 80%;
        width: 80%;
        left: 10%;
        top: 10%;
        flex-direction: column;
    }
    #menu_full_100_100 .left_cont{
        font-size:0.5em;
    }
}