#trans_page_opac_KOAPG9130{
    position:fixed;
    top:-100vh;
    height:100%;
    width:100%;
    opacity:1;
    background:black;

    z-index: 100;
}
#trans_page_black_left_right_KOPE102{
    position:fixed;
    top:0vh;
    height:100%;
    width:0;
    opacity:1;
    background:white;

    z-index: 999;
}
#trans_page_loading_AOK102{
    display:none;
    position:fixed;
    top:0vh;
    height:100%;
    width:100%;
    opacity:0.1;
    background:black;

    z-index: 999;
}