/* scroll bar */
#works_page_21Y8J03 > .scrollbar-track{
    background:rgb(52, 52, 52);
    opacity:0.2;
    mix-blend-mode: exclusion;
}
#works_page_21Y8J03 > .scrollbar-track:hover{
    opacity:0.4;
}
#works_page_21Y8J03 > .scrollbar-track > .scrollbar-thumb{
    border-radius:0;
    background:rgb(177, 177, 177);
}
/* Pages */
#works_page_21Y8J03{
    position: relative;
    width:100%;
    background:white;
    height:100%;
    overflow:hidden;
}
.works_flex{
    width:82%;
    left:9%;
    padding:10em 0;

    position: relative;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.works_flex > .work_cont{
    position: relative;
    width:20em;
    margin:0 5vw;
    margin-bottom:15em;
}
/* img cont */
.works_flex > .work_cont > .work_img_cont_parent{
    position:relative;
    height:27em;
    width:100%;

    display:flex;
    align-items: flex-end;
}
.works_flex > .work_cont > .work_img_cont_parent > .work_img_cont{
    position:absolute;
    width:100%;
    overflow:hidden;
    height:0;
    bottom:0;
    left:0;
    transition: all ease-out 500ms;
}
.works_flex > .work_cont > .work_img_cont_parent > .work_img_cont.active{
    height:100%;
    transition: all ease-in 500ms;
}
.works_flex > .work_cont > .work_img_cont_parent .work_bk{
    position: absolute;
    bottom:0;
    height: 27em;
    width:100%;
    background:black;

    transform:scale(1);
    transition:transform ease-in-out 500ms;
}
.works_flex > .work_cont > .work_img_cont_parent .img{
    position: absolute;
    bottom:50%;
    width:80%;
    left:50%;
    transform:translate(-50%,50%);
}
.works_flex > .work_cont > .work_img_cont_parent .work_semi_circle{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.works_flex > .work_cont > .work_img_cont_parent .work_semi_circle > .semi_circle > .size1{
    display:block;
}
.works_flex > .work_cont > .work_img_cont_parent .work_semi_circle > .semi_circle > .size2{
    display:none;
}
.work_cont:hover .work_img_cont_parent .work_img_cont{
    transition: all ease-in 250ms !important;
    height:calc(100% - 1em) !important;
    width:calc(100% - 1em);
    bottom:0.5em;
    left:0.5em;
}
.work_cont:hover .work_img_cont_parent .work_img_cont > .work_bk{
    transform:scale(1.05);
}
/* bottom - cont */
.works_flex > .work_cont > .sub_title{
    position: relative;

    margin-top:1.5em;

    font-weight:300;
    font-size:1.15em;
    color:rgb(177, 177, 177);
}
.works_flex > .work_cont > .sub_title > .bar{
    display: inline-block;
    vertical-align: middle;

    height:1px;
    width:1.5em;
    margin:0 0.5em;
    background-color:rgb(177, 177, 177);
}
.works_flex > .work_cont > .title{
    position: relative;
    margin-top:0.4em;

    font-weight:500;
    font-size:1.5em;
    color:black;

}
/* bottom page */
.works_bottom_page{
    position:relative;
    text-align:center;
    padding-bottom:18em;
    text-align: center;
    background:rgb(255, 255, 255);
}
.works_bottom_page > div{
    color:black;
}
.works_bottom_page > .got_project{
    margin-bottom:1em;
    font-size:1.4em;
    font-weight: 300;
}
.works_bottom_page > #works_contact_trigger_AP18F29{
    display: inline-block;
    max-width: 80%;
    line-height:0.9em;

    font-weight:800;
    font-size:6em;
    margin:0;
}
.works_bottom_page > .txt_btm_right_GQO92{
    position:absolute;
    color:rgb(71, 71, 71);

    display:flex;

    bottom:2em;
    right:5em;
    font-weight:200;
}
.works_bottom_page > .txt_btm_right_GQO92 > div{
    padding:0.7em 0.5em;
}

@supports (-ms-ime-align: auto) {
    .works_flex > .work_cont > .work_img_cont_parent > .work_img_cont{
        height:100%;
    }
}

/* responsive */
@media only screen and (max-width: 820px)  {
    .works_flex{
        padding:10em 0;
        padding-bottom:0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 950px)  {
    .works_flex > .work_cont{
        margin:0 5em 10em 5em !important;
    }
}
@media only screen and (min-width: 820px) and (max-width: 975px)  {
     .works_flex{
         font-size:0.7em;
     }
}
@media only screen and (min-width: 975px) and (max-width: 1220px)  {
     .works_flex{
         font-size:0.8em;
     }
}
@media only screen and (max-width: 1220px)  {
     .works_flex > .work_cont > .work_img_cont_parent .work_semi_circle{
         transform:translate(-50%,-50%) scale(0.75);
     }
}
@media only screen and (max-width: 600px)  {
    .works_flex > .work_cont{
        margin:0 !important;
    }
}
@media only screen and (max-width: 750px)  {
    .works_flex > .work_cont > .work_img_cont_parent .work_semi_circle > .semi_circle > .size1{
        display:none;
    }
    .works_flex > .work_cont > .work_img_cont_parent .work_semi_circle > .semi_circle > .size2{
        display:block;
    }
    .works_bottom_page{
        font-size:0.8em;
        padding-bottom:13em;
    }
    .works_bottom_page > #works_contact_trigger_AP18F29{
        font-size:3em;
    }
    .works_bottom_page > .txt_btm_right_GQO92{
        font-size:0.9em;
        right:3em;
    }
    
    /*Blocs*/
    .works_flex > .work_cont > .work_img_cont_parent{
        height:22em;
    }
    .works_flex > .work_cont{
        margin-bottom:10em !important;
        width:16em;
    }
    .works_flex > .work_cont > .work_img_cont_parent .work_bk{
        height:22em;
    }
}